<template name="layout2">
  <div class="layoutcss">
    <br>
    <br>
    <div class="container" role="navigation">
      <ul class="nav nav-pills navlink">
        <li role="presentation"><a href="/"><h4>Home</h4></a></li>
        <li role="presentation"><a href="mySearchResult"><h4>My Search Result</h4></a></li>
        <li role="presentation"><a href="popular"><h4>Popular</h4></a></li>
        <li role="presentation"><a href="sponsors"><h4>Recommended</h4></a></li>
        <li role="presentation"><a href="about"><h4>About Me</h4></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id='login'>
              {{> loginButtons}}
      </ul>
      {{>yield}}
    </div>
  </div>
</template>
