



div.usualcss div.input-group{
  height: 100%;
  width: 100%;
  padding-top: 6%;
  padding-right: 16%;
  padding-bottom: 25%;
  padding-left: 16%;

}

div.usualcss h1 {

    color: rgb(255, 251, 122);
    text-align: center;
    font-size: 3.99em;
    font-family: "Papyrus", fantasy;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    div.usualcss p {
      font-size: 0.3em;
    }
    div.usualcss h1 {
      font-size: 2.0em;
    }

}
