
  div.layoutcss h4{
      font-family: "Palatino Linotype", fantasy;

  }

  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      div.layoutcss h4 {
          font-size: 0.7em;
      }

      div.layoutcss p {
        font-size: 0.3em;
      }

  }

  .nav-pills > li > a, .nav-pills > li > a:focus {
      color: rgb(214, 207, 128);
      background-color: rgb(61, 61, 58);
  }

    .nav-pills > li > a:hover {
        background-color: rgb(214, 207, 128);
        color:black;
    }

    #login a{
      color: rgb(214, 207, 128);
    }

    #login a:hover {
      background-color: rgb(214, 207, 128);
      color:black;
  }
